In [1]:
import pandas as pd # importa a biblioteca pandas

In [2]:
Dicionario_01={
    'A':[1,2,3],
    'B':[-32, -21, -15],
    'C':[60,10,20],
    'Chave':['AA', 'BB', 'CC']
}

Dicionario_02={
    'A':[6, 7, 8],
    'B':[-39, -28, -17],
    'C':[1000, 10, 60],
    'Chave': ['AA', 'BB', 'CC']
}
Dicionario_03={
    'A':[9, 10, 11],
    'B':[-39, -22, -17],
    'C':[30, 10, 20],
    'Chave':['AA', 'BB', 'CC']
}
    
    #Criando os labels para os dataframes
Label_01 = ['1ªLinha','2ªLinha','3ªLinha']
Label_02 = ['4ªLinha','5ªLinha','6ªLinha']
Label_03 = ['7ªLinha','8ªLinha','9ªLinha']

In [4]:
#Criando os dataframes
df1 = pd.DataFrame(Dicionario_01, index=Label_01)
df2 = pd.DataFrame(Dicionario_02, index=Label_02)
df3 = pd.DataFrame(Dicionario_03, index=Label_03)

In [6]:
df1.head() #exibe as 4 primeiras linhas do dataframe

         A   B   C Chave
1ªLinha  1 -32  60    AA
2ªLinha  2 -21  10    BB
3ªLinha  3 -15  20    CC

In [8]:
df2.head() #exibe o segundo dataframe

         A   B     C Chave
4ªLinha  6 -39  1000    AA
5ªLinha  7 -28    10    BB
6ªLinha  8 -17    60    CC

In [9]:
df3.head() #exibe o terceiro dataframe

          A   B   C Chave
7ªLinha   9 -39  30    AA
8ªLinha  10 -22  10    BB
9ªLinha  11 -17  20    CC